<form action="/payment/results">
  <div>
    <label for="apr_field">APR</label>
    <input id="apr_field" text="text" name="apr" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="years_field">Number of years</label>
    <input id="years_field" text="text" name="years" placeholder="How many years to repay?">
  </div>

  <div>
    <label for="principal_field">Principal</label>
    <input id="principal_field" text="text" name="principal" placeholder="How much principal?">
  </div>

  <button>Calculate monthly payment</button>
</form>
