<form action="/square_root/results">
  <div>
    <label for="number_field">Enter a number</label>
    <input id="number_field" text="text" name="number" placeholder="What number do you want to take the square root of?">
  </div>

  <button>Calculate square root</button>
</form>
